@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.primary{
  color: #4991d8;
}

.fn-bold{
  font-weight: 500;
  letter-spacing: 1px;
}

.flex-container{ display: flex; }

.flex-1{ flex: 1; }
.flex-2{ flex: 2; }
.flex-4{ flex: 4; }

.left-align{
  text-align: end;
  padding-right: 1em;
  border-right: 0.5px solid rgba(0, 0, 0, 0.25);
}

.mb-1{ margin-bottom: 1.5em; }

.classic{ color: rgba(0, 0, 0, 0.92); }

.template-container{
  /* width: 65vw; */
  padding: 50px 40px 20px 40px;
  /* border: 2px solid black; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.template-container p,
.template-container b
{
  font-size: 14px;
}

.personal-info{ margin-bottom: 3em; }

.personal-info h1{
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.details{ margin-bottom: 0.8em; }

.summary,
.experiences,
.educations,
.skills
{
  margin-bottom: 3.25em;
}

.summary h2,
.experiences h2,
.educations h2,
.skills h2{
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
  position: relative;
  letter-spacing: 1px;
}

.summary.classic h2::before,
.experiences.classic h2::before,
.educations.classic h2::before,
.skills.classic h2::before
{
  width: 100%;
  height: 0.5px;
  position: absolute;
  content: '';
  bottom: -8px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.experience,
.education
{
  gap: 1.25em;
  margin-bottom: 1.5em;
}

.work p:nth-child(1){
  font-weight: 500;
  margin-bottom: 8px;
}

.two-col-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.two-col-grid-item{
  grid-column: auto / span 1;
  padding: 10px 20px;
  justify-content: space-between;
}

.skill:nth-child(2n + 1){
  border-right: 0.5px solid rgba(0, 0, 0, 0.55);
}

.header{
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 40px;
  margin-bottom: 15px;
}

.header::before
{
  width: 100%;
  height: 0.8px;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.container{
  padding: 10px 40px;
}

.logo{
  flex-grow: 1;
}

.logo img{
  width: 80px;
  height: auto;
}

.navigate{
  display: flex;
  gap: 20px;
}

.wt-70{ width: 70vw; }

.form-personal{
  margin: 2em auto;
}

.back-or-save{
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}

.preview-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5em;
}

.download{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.hero-section{
  margin-top: -15px;
}

.summary.collegiate h2,
.educations.collegiate h2,
.experiences.collegiate h2,
.skills.collegiate h2
{
  background: #80808075;
  padding: 10px;
}

.summary.armony h2,
.educations.armony h2,
.experiences.armony h2,
.skills.armony h2
{
  background: #4991d8;
  padding: 10px 20px;
  color: rgb(254, 252, 250);
  font-weight: 400;
  font-size: 20px;
}

.personal-info.armony > .flex-container
{
  border-top: 0.5px solid rgba(0, 0, 0, 0.25);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
  padding: 1em 0;

}
.personal-info.armony h1
{
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #4991d8;
  margin-bottom: 0.8em;
}

.experiences.armony .experience,
.educations.armony .education
{
  padding-left: 20px;
}

.templates-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.template{
  flex-basis: 350px;
  margin-bottom: 1.8em;
}

.template .image{
  border: 1px solid rgba(0, 0, 0, 0.55);
}

.image img{
  width: 100%;
  height: 500px;
}